
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
.home{
	background-image: url("../image/d1.jpg");
	background-size:cover;
	border-image-width: 50px;
	height: 100vh;
	
}
.home .text-container{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
}
.nav{
	height: 50px;
	background: blue;
}
.nav div{
	display: inline-block;
	position: absolute;
	left: 0;
	padding: 15px;
	font-size: 20px;
	color: white;
}
.nav ul{
	position: absolute;
	right: 5px;
}
.nav ul li{
	display:inline-block;
}
.nav ul li a{
	color: white;
	padding: 5px;
}

 .about-content{
	margin: 150px auto 0 auto ;
	width: 500px;
	
}
 .about-content h1{
	text-align: center;
	font-family: 'Roboto',sans-serif;
	color: red;
	
}
 .about-content p{
	text-align: justify;
	font-family: 'Lato',sans-serif;
	color: green;
}
.services-content{
	margin:80px auto 0 auto;
	text-align: center;
}
 .services-content h1{
    font-family: 'Roboto', sans-serif;
    color: red;
}
 .card-container ul{
    padding: 0;
}
 .card-container ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    width: 300px
}
 .card-container ul li p {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    color: green;
}
 .contact-content{
    margin: 80px auto 0 auto;
    text-align: center;
}
 .contact-content h1{
    font-family: 'Roboto', sans-serif;
    color: red;    
}
 .address-holder {
    font-family: 'Lato', sans-serif;
}